accelerate
colorama
einops
exllamav2

optimum
pandas
peft
Pillow
pyyaml
safetensors
sentencepiece
tensorboard
transformers
tqdm

# bitsandbytes
bitsandbytes; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl; platform_system == "Windows"

gptq
autoawq