accelerate==0.27.*
einops
numpy==1.26.*
optimum==1.17.*
safetensors==0.4.*
transformers==4.37.*
# bitsandbytes
bitsandbytes==0.42.*; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl; platform_system == "Windows"
autoawq